.cover-image {
    -webkit-box-shadow: 0 0 10px 2px #2bbbad;
    -moz-box-shadow: 0 0 10px 2px #2bbbad;
    box-shadow: 0 0 10px 2px #2bbbad;
}

.custom-navbar {
    background-color: #2bbbad;
}

.custom-dropdown-item {
    color: white !important;
}

.custom-dropdown-item:hover {
    color: #2bbbad !important;
}

.custom-dropdown-item-active {
    background-color: white !important;
    color: #2bbbad !important;
}